<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.startup.crs_demo" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.home.startup.crs_demo.Login"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.CreateAccount"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.StudentHome"
            android:label="@string/title_activity_student_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.StudentProfile"
            android:label="@string/title_activity_student_profile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.RegisterClass"
            android:label="@string/title_activity_register_class"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.ViewEnrolled"
            android:label="@string/title_activity_view_enrolled"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.DropClasses"
            android:label="@string/title_activity_drop_classes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.instructorHome"
            android:label="@string/title_activity_instructor_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.InstructorProfile"
            android:label="@string/title_activity_instructor_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.AssignedCourses"
            android:label="@string/title_activity_assigned_courses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.AssignGrades"
            android:label="@string/title_activity_assign_grades"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.DropStudent"
            android:label="@string/title_activity_drop_student"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.home.startup.crs_demo.ToDo"
            android:label="@string/title_activity_to_do" >
        </activity>
    </application>

</manifest>
